.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .formulario {
    background-color: #FFFFFF;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  
  .titulo{
    color:#fa9caa;
    font-size: large;
  }
  
  .detalle {
    margin-top: 10px;
    padding-left: 5%;
  }
  
  .imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .uploadLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #888;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .uploadIcon {
    font-size: 48px;
    margin-bottom: 8px;
  }
  
  .uploadInput {
    display: none;
  }
  
  .imagenEscaneada {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
  }
  

.nombreProducto{
    border-bottom: 2px solid rgb(68, 67, 67);
    width: 80%;
    margin: auto;
}

  .detalle h4 {
    margin-bottom: 10px;
  }
  
  .detalle > div {
    display: flex;
    margin-top: 5px; /* Agregado para separar los botones del resto del contenido */
    justify-content: space-between;
  }
  
  .detalle button {
    padding: 5px 10px;
    background-color: #fa9caa;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15% 2%;
  }
  
  .detalle button:first-child {
    margin-right: 10px; /* Añadido margen derecho solo al primer botón */
  }
  
  .detalle button:hover {
    background-color: #fcb7c0;
  }