.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .formulario {
    background-color: #FFFFFF;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  
  .titulo{
    color:#fa9caa;
    font-size: large;
  }
  
  .detalle {
    margin-top: 10px;
    padding-left: 5%;
  }
  
  .imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .uploadLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #888;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .uploadIcon {
    font-size: 48px;
    margin-bottom: 8px;
  }
  
  .uploadInput {
    display: none;
  }
  
  .imagenEscaneada {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
  }
  

.nombreProducto{
    border-left: 2px solid rgb(68, 67, 67);
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(68, 67, 67);
    padding-left: 1%;
}

.nombreProducto input {
  border-radius: 5px;
  border: 2px solid #ffffff;
  border-bottom: 2px solid #bebebe;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 50%;

  /* Agrega efectos visuales */
  box-shadow: 0 0 10px #ffffff;
  transition: all 0.3s ease-in-out;

  /* Personaliza el texto */
  font-size: 16px;
}

.nombreProducto input:focus {
  /* Cambia el aspecto del input cuando está enfocado */
  background-color: #ffffff;
  border-color: #fa9caa;
  color: #fa9caa;
}
  .detalle h4 {
    margin-bottom: 10px;
  }
  
  .detalle > div {
    display: flex;
    margin-top: 5px; /* Agregado para separar los botones del resto del contenido */
    justify-content: space-between;
  }
  
  .detalle button {
    padding: 5px 10px;
    background-color: #fa9caa;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15% 2%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  
  .detalle button:first-child {
    margin-right: 10px; /* Añadido margen derecho solo al primer botón */
  }
  
  .detalle button:hover {
    background-color: #fcb7c0;
  }