.main {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
  }
  
  .button {
    background-color: #fa9caa;
    color: #FFFFFF;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    background-color: #faaeb8;
  }
  
  
