.main{
    border-bottom: 2px solid black;
}

.navbar{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
}