.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8521be;
    padding: 2%;
  }
  
  .navbar p,
  .navbar h1 {
    color: #FFFFFF;
    margin: 0;
  }
  
  .navbar p {
    font-size: 16px;
  }
  
  .navbar h1 {
    font-size: 24px;
  }
  
  .navbar p:hover,
  .navbar h1:hover {
    text-decoration: underline;
  }
  